.titleFont {
  color: white;
  text-align: center;
  margin-top: 1%;
}

logo{
  float: right;
}

@media all and (max-width: 290px) {
  .titleFont {
      font-size: .9em;
  }
}

@media all and (max-width: 820px) {
  .titleFont {
    margin-top: 25%;
  }
}
