.centerColumn {
  float: none;
  margin: 0 auto;
}

.sectionWrap {
  text-align: center;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

#navigation{
  margin-top: 1%;
}

logo{
  float: right;
}

@media all and (max-width: 820px){
  #home-button {
    margin-left: 2%;
    margin-top: 1.5%;
  }
  h3 {
    margin-top: 25%;
  }
}
