<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		
    <div class="btn btn-info btn-lg" style="float: left" id="landing">
      <a href="landing">Landing</a>
    </div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h1 style="color: white;">
			<b>What is tinnitus?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Tinnitus is humming, ringing, buzzing, or other sounds in the ears or head.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>How do you pronounce “tinnitus”?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		“ti-<b>night</b>-us” or “<b>tin</b>-uh-tus” – either is correct.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What causes tinnitus?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		The most common cause of tinnitus is exposure to loud sound. Tinnitus can also be caused by head injury, medications, ear wax – and many other causes. For many people it is impossible to know the exact cause of tinnitus.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Is there a cure for tinnitus?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		A “cure” would be some way to make the tinnitus sound stop. Right now, there is no safe and consistent way to quiet tinnitus. However, there are many ways to feel better without making tinnitus quieter.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>How can I feel better without making my tinnitus quieter?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		You can feel better by learning how to manage your reactions to tinnitus.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>How can I manage my reactions to tinnitus?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		The skills in this program are designed to help you manage your reactions to tinnitus. Below is a short summary of these skills.
		<br /><br />
			<ul>
				<li>Sound can be used in many different ways to manage reactions to tinnitus.  You can learn to develop your own custom plan for using sound to help you any time tinnitus is a problem.</li>
				<li>Deep breathing, imagery, and guided meditation can help you relax. Feeling relaxed can help you cope with your tinnitus.</li>
				<li>Pleasant activities can help you enjoy life and help you get your mind off of your tinnitus.</li>
				<li>What you think affects how you feel. You can change the way you think about your tinnitus. With practice, changing your thoughts and attitudes can help you feel better.</li>
				<li>Managing sleep patterns can improve your ability to cope with tinnitus.</li>
			</ul>
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Can medications help?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Medications used for tinnitus were developed for other problems like depression, anxiety, and trouble sleeping. Some of these medications can improve your mood. A better mood can help to make tinnitus less of a problem. In rare cases medications may make tinnitus quieter. However, medications can also make tinnitus louder. Because of possible side effects, the use caution with medications.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Can over-the-counter dietary supplements help?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		There are at least 50 over-the-counter supplements for tinnitus available for sale. There is no evidence from controlled studies that any of these supplements work for tinnitus. Save your money and use methods that have good research evidence.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What methods have good research evidence?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Only a few methods have been shown to help people with tinnitus feel better. These include cognitive behavioral therapy and different uses of sound. Hearing aids, education and counseling have also been shown to be helpful.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Does my tinnitus make it harder for me to hear?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Many people have hearing problems along with tinnitus. Some people think that the tinnitus causes their hearing problems – which is not true. Hearing problems are caused by hearing loss or problems processing sound. If you have tinnitus or hearing problems, you should have a hearing test.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What should I do about my tinnitus?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Start by getting a hearing test (and hearing aids if needed). Hearing aids can help with a hearing problem by amplifying sounds. Amplifying sounds can also help with tinnitus. Most people say they notice their tinnitus less when wearing hearing aids.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What if I need more help?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		If you need more help, find an audiologist who has experience working with people who have tinnitus. Some audiologists use Progressive Tinnitus Management (PTM). The skills in this app are based on PTM.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What is Progressive Tinnitus Management (PTM)?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		PTM is designed to help people with different levels of need. Some people with tinnitus only need a hearing test and answers to their questions. For people who need more help PTM teaches ways to use sound to manage reactions to tinnitus. PTM also teaches how to change thoughts and feelings to cope with tinnitus.  Audiologists and mental health providers teach these skills.
	</h2>

  <div class="audio">
    <audio controls>
      <source src="https://liquidmindmusic.com/mp3/Serenity.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
