.container {
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
}

.column-left {
    flex: 1;
}
.column-right {
    flex: 1;
}
.column-right textarea {
    width: 75%;
    height: 100%;
}

.patientSelected {
    background-color: #dddcb5;
}
.patientNotSelected {
    background-color: initial;
}

.resultsTable {
    margin: 10px auto 0 auto;
    width: 75%;
}
.resultsTable th {
    text-align: center;
    background-color: #0448a1;
    color: white;
}
.resultsTable .patientNotSelected:nth-child(even) {
    background-color: #7eabe6;
}
.resultsTable tr:hover {
    background-color: #dddcb5;
}
.resultsTable .deletebtn {
    width: 100%;
    color: white;
    background-color: rgb(153, 0, 0);
}
.resultsTable .deletebtn:hover {
    width: 100%;
    background-color: rgb(255, 0, 0);
}
.resultsTable .loadbtn {
    width: 100%;
    color: white;
    background-color: #44ad44;
}
.resultsTable .loadbtn:hover {
    width: 100%;
    background-color: #81c981;
}

.pagination {
    padding: 3px 10px;
    margin: 15px 5px;
}
.pagination:disabled {
    color: #999;
}