<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
    <div class="btn btn-info btn-lg" style="float: left" id="landing">
      <a href="landing">Back</a>
    </div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h1 style="color: white">
			<b>Pleasant Activity Scheduling</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Some people with tinnitus feel like they can’t enjoy life again unless the tinnitus is quieter or gone. Because of this, they may stop doing many of their usual activities, especially activities they enjoy. If you are doing fewer activities because of tinnitus, then you are more likely to be focused on your tinnitus, and you are more likely to feel unhappy.
		<br /><br />
		One way to start feeling better is to plan pleasant activities even when your tinnitus is bothering you. Pleasant activities can help you enjoy life and pay less attention to your tinnitus. At first, you might feel like you are “relearning” how to enjoy pleasant activities. The activities might be harder to enjoy than they were without tinnitus. With time, you can learn to enjoy the activities even with tinnitus.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Activity Planning</b>
		</h1>
	</div>
	<h2 style="color: white;">
		One way to increase pleasant activities is to plan ahead. This may sound simple, but most of the time we wait until we feel better to do something we enjoy. If you let how you feel guide what you do, then you may end up staying home and not doing anything. If you schedule pleasant activities you will find it easier to do something you enjoy. As a result, you may feel more pleasure! Plan at least one pleasant activity each day.
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Values</b>
		</h1>
	</div>
	<h2 style="color: white;">
		When thinking about which activities are the best fit for you, think about what you value in life. Values are like directions on a compass - they point you where you wish to go.  Values can be things like caring for others, service, adventure, scholarship, leadership, faith, family, love, discipline, focus, or fitness.  If you pick pleasant activities that fit with your values, the activities can add meaning to your life.
		<br /><br />
		<b>Step 1: Make a List of Pleasant Activities.</b> Make a list of 10 pleasant activities that you would enjoy. These activities can be done with other people or just by yourself. Make sure that each activity is pleasant for you.
		<br /><br />
		<b>Step 2: Plan Pleasant Activities.</b> Sometimes it’s hard to fit everything you want to do into your schedule. Unless you plan the activity by scheduling it, you may continue with your routine as it is. Plan at least one pleasant activity per day. Use a calendar or scheduler to record your plans for pleasant activities. Write down how long you will do the activity and when you will do it.
		<br /><br />
		<b>Step 3: Evaluate</b>
		<br /><br />
			Once per week ask yourself the following questions:
			<br /><br />
			<ol>
				<li>Did I do all of my scheduled pleasant activities each day?</li>
				<li>Why didn’t I do some or all of my activities as planned?</li>
				<li>Did I notice my tinnitus less when I did these activities?</li>
				<li>Would more activities help me get my mind off of my tinnitus?</li>
				<li>Do I need to have more or fewer pleasant activities?</li>
			</ol>
		Use this information to evaluate which activities are best for you.  Identify which ones reduce your awareness of tinnitus and which ones lead to the most enjoyment. Then keep going!
	</h2>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
