<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-home"></span> Home
			</a>
		</div>
	</div>
</nav>

<div style="overflow: hidden">
	<h3 style="color: white; padding-top: 1%" align="center">Tinnitus Exercises</h3>
	<div class="row">
		<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-top: 2%;">
			<button class="buttons1 btn btn-primary" (click)="pleasantActivitiesOnClick()">Pleasant Activities</button>
			<button class="buttons2 btn btn-primary" (click)="changingThoughtsOnClick()">Changing Thoughts</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-top: 2%;">
			<button class="buttons1 btn btn-primary" (click)="mindfulnessOnClick()">Mindfulness</button>
			<button class="buttons2 btn btn-primary" (click)="guidedMeditationOnClick()">Guided Meditation</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-top: 2%;">
			<button class="buttons1 btn btn-primary" (click)="relaxationOnClick()">Relaxation</button>
			<button class="buttons2 btn btn-primary" (click)="betterSleepOnClick()">Better Sleep</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-top: 2%;">
			<button class="buttons1 btn btn-primary" (click)="usingSoundOnClick()">Using Sound</button>
			<button class="buttons2 btn btn-primary" (click)="faqOnClick()">FAQ</button>
		</div>
	</div>
	<br />
	<img src="assets/images/Graph.png" alt="graph" class="center">
</div>


<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
