<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
      <button class="btn btn-info btn-lg" (click)="onClickedBack.emit(selectedValue)">BACK</button>
		</div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h2 style="color: white;">
			<b>Introduction to Relaxation Exercises</b>
		</h2>
	</div>
	<h2 style="color: white;">
		In this section you will find instructions for two relaxation exercises: <b>Deep Breathing</b> and <b>Imagery.</b> You can either read these instructions, or watch a video. You can use these exercises anytime you feel stressed. Deep Breathing and Imagery slow down your body, help you to get your mind off of your tinnitus, and help you feel relaxed and calm.  When you are calm you feel a sense of relief from tension and stress caused by tinnitus, think more clearly, function better, and feel better overall.  
	</h2>
	<div>
		<h2 style="color: white;">
			<b>Deep Breathing Instructions Step-by-Step</b>
		</h2>
	</div>
	<h2 style="color: white;">
    Add link to video: “Video: How Deep Breathing helps with tinnitus”
		<br /><br />
		Add link to video: “Video: Learn Deep Breathing”
		<br /><br />
    Note: Many more relaxation videos are available online at websites like YouTube.com.
		<br /><br />
		<ol>
			<li>Find a relaxing place where you will not be disturbed. If needed, turn your phone off and ask others to give you this time alone. Loosen any tight clothing or change into comfortable clothes.</li>
			<li>Sit in a chair with your feet flat on the floor or propped up. Place your hands in your lap or on the arms of the chair. Make sure you are comfortable.</li>
			<li>Many people who have tinnitus find it useful to use sound while practicing relaxation techniques. You might consider using a neutral sound, or a sound that is soothing for you.</li>
			<li>Place one hand on your stomach and one hand on your chest. Take a normal breath in and notice which hand moves the most. Most likely it will be the hand on your chest. This shows that you tend to breathe shallow breaths from your chest. Now try to take a breath from your abdomen (stomach). You might feel like you are pushing your stomach out—that is how it feels when you are more relaxed and breathing more deeply.</li>
			<li>Close your eyes (if you are comfortable doing so) or look at an object in the room like a book on the bookshelf.</li>
			<li>Take a deep breath in through your nose—slowly for a count of three. (Remember to use your stomach first and let your chest expand naturally after that.)</li>
			<li>Hold that breath for two seconds and then exhale for a count of three from your mouth.</li>
			<li>Repeat steps 4 and 5 at least five times.</li>
			<li>When you are ready to stop the Deep Breathing exercise, count back from 3 to 1:
				<br />
				<p>
					3 – Become aware of your surroundings
					<br />
					2 – Move your feet, legs, hands, arms, and rotate your head
					<br />
					1 – Open your eyes feeling relaxed
				</p>
			</li>
		</ol>
	</h2>
	<div>
		<h2 style="color: white;">
			<b>Imagery Instructions Step-by-Step</b>
		</h2>
	</div>
	<h2 style="color: white;">
		Add link to video: “Video: How Imagery helps with tinnitus”
		<br /><br />
		Add link to video: “Video: Learn Imagery”
		<br /><br />
    Note: Many more relaxation videos are available online at websites like YouTube.com.
		<br /><br />
		<ol>
			<li>Choose a place you will imagine. You can imagine any place that would be calming and peaceful for you. You should feel safe there.
			<br /><br />
			<p>When you are choosing what you will imagine, think about these things:</p>
			<ul style="list-style-type: disc;">
				<li><b>The place:</b> Where do you want to be?
					<br />
					<p style="text-indent: 40px;">Examples: the beach or in your kitchen</p></li>
				<li><b>Sight:</b> What do you see?
					<br />
					<p style="text-indent: 40px;">Examples: trees, grass, the sun, or an oven</p></li>
				<li><b>Smell:</b> What do you smell?
					<br />
					<p style="text-indent: 40px;">Examples: the ocean, pine, flowers, or cooking food</p></li>
				<li><b>Sounds:</b> What do you hear?
					<br />
					<p style="text-indent: 40px;">Examples: birds, twigs cracking, soft waves, or boiling water</p></li>
				<li><b>Touch:</b> What do you feel?
					<br />
					<p style="text-indent: 40px;">Examples: a cool breeze, the warm sun, or heat from cooking</p></li>
				<li><b>Taste:</b> What can you taste?
					<br />
					<p style="text-indent: 40px;">Examples: salty air, sweet berries, cool water, or warm food</p></li>
			</ul>
			<li>Find a relaxing place where you will not be disturbed. If needed, turn your phone off and ask others to give you this time alone. Loosen any tight clothing or change into comfortable clothes.</li>
			<li>Sit in a chair with your feet flat on the floor or propped up. Place your hands in your lap or on the arms of the chair. Make sure you are comfortable.</li>
			<li>Many people who have tinnitus find it useful to use sound while practicing relaxation techniques. You might consider using a neutral sound, or a sound that is soothing for you.</li>
			<li>Take several deep breaths and shift your focus to the peaceful image you chose.</li>
			<li>As you focus your thoughts on your peaceful place:
				<ul style="list-style-type: disc;">
					<li>Imagine a path you travel on as you journey through your place.
						Example: As you look back notice your footprints in the sand where you have just walked along the shore. Slowly, a wave moves in and washes over the footprints.</li>
					<li>Imagine what you hear, smell, and taste.</li>
					<li>Imagine reaching out and touching things around you.
						Example: Notice how the sand or a leaf feels as you hold it in your hand.</li>
					<li>As you imagine your relaxing place, move deeper and deeper into the image. You should feel calm and peaceful there.</li>
					<li>Notice how your body feels—you will want to return to this feeling next time.</li>
				</ul>
			<li>When you are ready to stop imagining the peaceful place, count back from 3 to 1:
				<p>
					3 – Become aware of your surroundings
					<br />
					2 – Move your feet, legs, hands, arms, and rotate your head
					<br />
					1 – Open your eyes feeling relaxed
				</p>
			</li>
		</ol>
	</h2>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<footer class="navbar-fixed-bottom">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</div>
	</footer>
</div>
