<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
    <div class="btn btn-info btn-lg" style="float: left" id="landing">
      <a href="landing">Back</a>
    </div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h1 style="color: white;">
			<b>What does “Changing Thoughts” mean?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		<ul>
			<li>First you identify thoughts you had just before feeling bad</li>
			<li>Then you work on changing that thought to something that is more helpful</li>
		</ul>
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>How can “Changing Thoughts” help?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		<ul>
			<li>Changing your thoughts about tinnitus can help you change the way you feel</li>
		</ul>
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>When can I use “Changing Thoughts”?</b>
		</h1>
	</div>
	<h2 style="color: white;">
		<ul>
			<li>
				Any time you feel tension or stress when you think about your tinnitus
			</li>
		</ul>
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Thoughts Affect Feelings</b>
		</h1>
	</div>
	<h2 style="color: white;">
		What you <i>think</i> affects how you <i>feel</i>. For example, imagine you are expecting guests to come to your house for dinner and they don’t show up on time. The thoughts you have about your guests being late will affect how you feel (your emotions). If you think “it’s rude to be late,” then you might get <i>angry</i>. If you think “it’s nice to have extra time to clean up,” then you may feel <i>relieved</i>. If you think “they could have been in an accident,” then you might become <i>worried</i>. In this example, the event is the same, but your thoughts about the event are different. Sometimes the way you feel is caused by the <i>thoughts</i> about the event, not the event itself.
	<br /><br />
		What thoughts do you have about your tinnitus? When you think about tinnitus, how do you feel?
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>Feelings Affect Health</b>
		</h1>
	</div>
	<h2 style="color: white;">
		<i>What you think affects how you feel, and your feelings affect your health.</i> Stress and negative emotions can lead to many health problems. In times of stress our brains release hormones into our bodies. These hormones increase heart rate, blood pressure, and muscle tension. The changes caused by these hormones help us react to emergencies. However, if our brains release these hormones too often it is bad for our health. People who are stressed for a long time may be more likely to get colds, heart disease, and other health problems. This is why it is so important to learn how to change your thoughts that cause negative feelings. 
	</h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>CORRECTING THOUGHT ERRORS</b>
		</h1>
	</div>
	<h2 style="color: white;">
		So how can you control negative feelings? Your thoughts determine the feelings you experience. You may not be able to change events, or tinnitus. However, the way you think about an event is <i>under your control</i>. Change your thoughts, and your feelings will change too. Below is a description for how to change your thoughts, step-by-step.
	</h2>
	<div>
		<h2 style="color: white;">
			<b>Changing Thoughts – Step-by-Step:</b>
		</h2>
	</div>
	<h2 style="color: white;">
		<b>Step 1: Describe Situation.</b> Identify what was going on when you started feeling bad—what happened? Sometimes it is hard to remember the situation that made you feel bad until later. If this is the case for you, go to the second step and come back to this step later.
		<br /><br />
		<b>Step 2: Describe Thoughts.</b> Now try to write down a thought you had just before you started feeling bad or upset. What was the first thought that came into your mind? You may have had many thoughts just before you started feeling bad. If you had more than one thought, pick the one that made you feel the worst.
		<br /><br />
		<b>Step 3: List Feelings.</b> Write down any bad or upsetting feelings you are having. For example, sad, angry, jealous, or disappointed.
		<br /><br />
		<b>Step 4:  Identify Thought Errors:</b>  Our thoughts often have some truth to them, but some have many more errors. Sometimes people get in the habit of having thoughts that are not helpful. Thoughts that are not helpful or unhealthy are called “thought errors.” You may feel bad or get upset out of habit and find out later that the reason you got upset was your own “thought error.” 
		<br /><br />
		<i>All people make thought errors from time to time.</i> Many people make thought errors that cause them to feel sad or upset. If you are aware of the most common thought errors, you can catch yourself and correct your thinking. Read the list of thought errors below. Think about which ones are familiar to you.
	</h2>
	<div>
		<h2 style="color: white;">
			<b>Ten Common Thought Errors:</b>
		</h2>
	</div>
	<h2 style="color: white;">
		<ol>
			<li>All-or-nothing thinking: When you see things in only two categories such as right or wrong.</li>
			<li>Over-simplifying: When you see one bad event as a pattern that never changes.</li>
			<li>Focusing on wrong details: When you pick out a single detail and focus on it. You don’t think about other more positive details.</li>
			<li>Jumping to conclusions: When you come to believe something is true without enough information to know if it really is true. You might assume that you know what someone else is thinking or assume things will turn out badly.</li>
			<li>Assuming the worst: When you think something is much worse than it really is.</li>
			<li>Emotional thoughts: When you think that your emotions show the way things really are. You might think, “I feel it, so it must be true.”</li>
			<li>“Should” statements: When you say “should” and “shouldn’t” to try to get yourself to do hard tasks. These statements tend to make you feel guilty. Also included are statements with the words “must” and “ought.”</li>
			<li>Labeling: Attaching a bad label to yourself or others.</li>
			<li>Making Things Personal: You see yourself as the cause of some negative event when you are not responsible. You ignore other details.</li>
			<li>Blaming: You blame others for your problems. You may also blame yourself for other people’s problems.</li>
		</ol>
	</h2>
	<div>
		<h2 style="color: white;">
		<b>Can you identify any of the 10 thought errors from the list? You can have more than one thought error in one thought.</b>
		</h2>
	</div>
	<h2 style="color: white;">
		<b>Step 6: New positive thought.</b> Write down a new thought about the event that is more helpful. This step requires a lot of practice. With practice it will become more natural to create new positive thoughts. Sometimes it helps to say statements that apply to many things. For example, “I am whole and complete,” or “I love and accept myself.”
		<br /><br />
		New positive thoughts should be:
		<ul>
			<li>brief</li>
			<li>easy to remember</li>
			<li>thoughts you believe are true</li>
			<li>thoughts that apply to your life</li>
			<li>helpful</li>
		</ul>
	</h2>
	<div>
		<h2 style="color: white;">
			<b>Step 7: Feelings when you think the new thought.</b> As you practice, pay attention to how you feel when you have positive thoughts instead of negative thoughts. Do you notice your tinnitus as much? Are your muscles relaxed?
			<br /><br />
			<b>Step 8: Picture yourself in the future.</b> Look at the negative thought from Step 2 again. Think of a time in the future when you might have that thought again. Picture yourself thinking the positive thought from Step 6 instead.
		</h2>
	</div>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
