#navigation {
  margin-top: 1%;
}

logo {
  float: right;
}

.text-section {
	position: fixed;
	top: 80px;
	bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	overflow-x: hidden;
	overflow-y: scroll;
}
