.container {
  width: 100%;
  height: 100%;
}

.parent-container {
  /* padding-top: 20%; */
  width: 100%;
  height: 30%;
}

.child-container {
  width: 100%;
  height: 70%;
  /* transform: translate(20%, 10%); */
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: white;
  margin-bottom: 10%;
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  color: white;
  font-family: 'Roboto';
  font-size: 2em;
  margin-bottom: 8%;
  height: 100%;
  left: 20%;
  width: 100%;
  text-align: left;
  background: linear-gradient(to right, #014e88, #0067ac);
  border-left-color: #0070bb;
  padding: 15px 0 15px 15px;

  border-left-width: 20px;
  border-radius: 4px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  background-repeat: no-repeat;
}

button:hover {
  background-repeat: no-repeat;
  background: linear-gradient(to right, #0086D1, #0098DB);
  cursor: pointer;
}


@media all and (max-width: 550px) {

  button {
    height:100%;
    font-size: 1em;
    margin-bottom: 5%;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 5%;
  }
}


