<!DOCTYPE html>
<html>
<div class="container">
    <div class="parent-container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4" style="text-align: left;">
            <logo imgLink = "assets/images/home_button_for_thank-you_page.png" logoRouteOption="1"> </logo>
        </div>
      </div>
    </div>

      <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-2 ">
              <h2> {{title}} </h2>
              <h3><iframe width="560" height="315" src="https://www.youtube.com/embed/ZZ5LpwO-An4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></h3>
          </div>
      </div>



  </div>
  </html>
