<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-home"></span> Home
			</a>
		</div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h1 style="color: white;">
			<b>Tips for Getting Better Sleep</b>
    </h1>
	</div>
	<h2 style="color: white;">
      Sleep is essential to good health. Sleep helps your body to repair itself, both physically and emotionally.
      Your tinnitus may seem worse when you are tired. When you get enough sleep, you are ready to handle problems and
      you won't get frustrated as easily.
  </h2>
	<hr>
	<div>
		<h1 style="color: white;">
			<b>What happens if you don't get enough sleep?</b>
		</h1>
	</div>
	<h2 style="color: white;">
    <ul>
      <li>Your tinnitus may seem louder</li>
      <li>Problems seem more difficult to handle</li>
      <li>Your body feels weak</li>
      <li>You don't feel good or enjoy activities</li>
      <li>You have difficulty concentrating</li>
    </ul>
	</h2>
	<hr>
	<h2 style="color: white;">
    Below are tips for things you can do to improve your sleep. The tips are supported by research. Read through the tips below, and choose some that you will try.
  </h2>
	<div>
		<h1 style="color: white;">
			<b>Tips for sleeping well:</b>
		</h1>
    <table style="width: 90%; margin-left: auto; margin-right: auto; color: white;">
      <tr>
        <th>Sleep Timing</th>
        <td>Set your body to a consistent sleep schedule</td>
        <td>
          <ul>
            <li>Go to bed at the same time each day</li>
            <li>Get up at the same time every day no matter how long</li>
            <li>Avoid napping during the day</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Sleep Behavior</th>
        <td>Teach your body to associate the bed with sleep, not frustration.</td>
        <td>
          <ul>
            <li>Go to bed onl when sleepy</li>
            <li>Use the bed and bedroom only for sleep</li>
            <li>Avoid reading, eating, or watching TV in bed</li>
            <li>If unable to fall asleep within 20 minutes, get out of bed and engage in a quiet activity. Return to bed when sleepy.</li>
            <li><u>Note:</u> It is normal to wake up a few times during the night. Very few people sleep through the night without interruptions.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Sleep Environment</th>
        <td>Control light and temperature in your bedroom</td>
        <td>
          <ul>
            <li>Keep the room a constant, cool temperature throughout the night</li>
            <li>Keep the room dark</li>
            <li>Remove, cover, or replace brightly lit clocks and other electronic devices</li>
            <li>Develop a "sound plan" to learn how to use sound to manage your reactions to tinnitus at night</li>
            <li>Use constant low-level sound all night (helps keep other sounds from waking you up)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Relaxing Before Bedtime</th>
        <td>Prepare your body for sleep by getting relaxed before going to bed</td>
        <td>
          <ul>
            <li>Don't exercise too close too close to bedtime</li>
            <li>Do things that are quiet and relaxing (light reading, listen to soothing music, etc.)</li>
            <li>Use relaxation techniques like deep breathing and imagery</li>
            <li>Avoid mentally stimulating activity</li>
            <li>Take a warm bath or shower</li>
            <li>Don't "make an effort" to fall asleep</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Food, Nicotine, Alcohol, and Caffeine</th>
        <td>Before bed, avoid substances that can interfere with sleep</td>
        <td>
          <ul>
            <li>Avoid heavy meals close to bedtime</li>
            <li>Avoid nicotine before bedtime or when you wakeup at night</li>
            <li>Avoid alcohol just before bedtime. Alcohol can cause you to wake up during the night even though it might have helped you fall asleep.</li>
            <li>Stop drinking beverages with caffeine at least 4-6 hours before bedtime</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

	<h2 style="color: white;">
		<b>Sleep Timing:</b> The body and brain adapt to a regular sleep schedule. People who work swing shift or who travel a lot change their sleep and wake times often. This disrupts the biological clock. When your biological clock is disrupted your body tells you it's time to move around when you want to sleep. And when you want to be awake your body tells you it's time to sleep. Setting these sleep and wake times and sticking to them regardless of what is going on in your life will help you to sleep better.
	</h2>
	<h2 style="color: white;">
    <b>Sleep Behavior:</b> You can teach your body to associate your bed with sleep. If you eat, watch TV, and play video games while in bed you start to associate the bed with these wakeful activities. Then you tend to stay awake when you are in bed. If you associate your bed with sleep, then getting into bed will tell your body and mind that it is time to sleep. Then you are more likely to sleep when you are in bed.
	</h2>
	<h2 style="color: white;">
    <b>Sleep Environment:</b>
    <ul>
      <li><b>Temperature.</b> Body temperature fluctuates during the night. Keeping the room cool can help keep you from overheating.</li>
			<li><b>Light.</b> Light naturally tells the brain it is time to wake up. In our modern world, many things produce artificial light that can disturb sleep. TV, iPads, phones and electric lights are all culprits in keeping us awake. Limiting these light sources or wearing an eye mask to block the light can improve your sleep.</li>
      <li><b>Sound.</b> Constant low level background sound can keep other sounds from waking you up. Sound can also be used in specific ways to manage reactions to tinnitus.</li>
    </ul>
  </h2>
	<h2 style="color: white;">
    <b>Relaxing before bedtime:</b> Often we have a lot of things to take care of before we go to bed. Sometimes there is work, laundry or chores to do before morning. This can be very stimulating and cause our minds suggestions invite you to do something relaxing before bed to allow the mind to calm before you settle in for the night
  </h2>
	<h2 style="color: white;">
    <b>Food, Nicotine, Alcohol, and Caffeine:</b> Alcohol may seem like it will help you sleep. However, research has shown that alcohol before bed can make you wake up later in the night. It is much better to have herbal tea, warm milk, or another soothing beverage before bed. A light snack can ease nighttime hunger but be careful to avoid large meals. Large meals before bed can make you feel uncomfortably full or cause heartburn or gas. These discomforts can keep you awake. Nicotine and caffeine are stimulants that can also keep you awake.
  </h2>

  <div class="audio">
    <audio controls>
      <source src="https://liquidmindmusic.com/mp3/Serenity.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
