<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-home"></span> Home
			</a>
		</div>
	</div>
</nav>

<div class="container-fluid">
  <div>
    <h3>Tips for Getting Better Sleep</h3>
    <p>
      Sleep is essential to good health. Sleep helps your body to repair itself, both physically and emotionally.
      Your tinnitus may seem worse when you are tired. When you get enough sleep, you are ready to handle problems and
      you won't get frustrated as easily.
    </p>
  </div>

  <div>
    <h3>What happens if you don't get enough sleep?</h3>
    <ul>
      <li>Your tinnitus may seem louder</li>
      <li>Problems seem more difficult to handle</li>
      <li>Your body feels weak</li>
      <li>Your don't feel good or enjoy activities</li>
      <li>You have difficulty concentrating</li>
    </ul>

    <p>
      Below are "tips" for things youc an do to improve your sleep. The tips are supported by research. Read
      through the tips below, and choose some that you will try.
    </p>
  </div>

  <div>
    <h3>Tips for sleeping well:</h3>
    <table style="width: 100%">
      <tr>
        <th>Sleep Timing</th>
        <td>
          Set your body to a consistent
          <br/>
          sleep schedule</td>
        <td>
          <ul>
            <li>Go to bed at the same time each day</li>
            <li>Get up at the same time every day no matter how long</li>
            <li>Avoid napping during the day</li>
          </ul>
        </td>
      </tr>

      <tr>
        <th>Sleep Behavior</th>
        <td>
          Teach your
          <br/>
          body to
          <br/>
          associate the bed
          <br/>
          with sleep, not
          <br/>
          frustration.
        </td>
        <td>
          <ul>
            <li>Go to bed onl when sleepy</li>
            <li>Use the bed and bedroom only for sleep</li>
            <li>Avoid reading, eating, or watching TV in bed</li>
            <li>
              If unable to fall asleep within 20 minutes, get out of bed
              <br/>
              and engage in a quiet activity. Return to bed when sleepy.
            </li>
            <li>
              Note: It is normal to wake up a few times during the night.
              <br/>
              Very few people sleep through the night without
              <br/>
              interruptions.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <th>
          Sleep
        <br/>
          Environment
        </th>
        <td>
          Control light
          <br/>
          and
          <br/>
          temperature in
          <br/>
          your bedroom
        </td>
        <td>
          <ul>
            <li>Keep the room a constant, cool temperature throughout the night</li>
            <li>Keep the room dark</li>
            <li>
              Remove, cover, or replace brightly lit clocks and other
              <br/>
              electronic devices
            </li>
            <li>
              Develop a "sound plan" to learn how to use sound to
              <br/>
              manage your reactions to tinnitus at night
            </li>
            <li>
              Use constant low-level sound all night (helps keep other
              <br/>
              sounds from waking you up)
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <th>
          Relaxing
          <br/>
          Before
          <br/>
          Bedtime
        </th>
        <td>
          Prepare your
          <br/>
          body for sleep
          <br/>
          by getting relaxed
          <br/>
          before going to bed
        </td>
        <td>
          <ul>
            <li>Don't exercise too close too close to bedtime</li>
            <li>
              Do things that are quiet and relaxing (light reading, listen
              <br/>
              to soothing music, etc.)
            </li>
            <li>Use relaxation techniques like deep breathing and imagery</li>
            <li>Avoid mentally stimulating activity</li>
            <li>Take a warm bath or shower</li>
            <li>Don't "make an effort" to fall asleep</li>
          </ul>
        </td>
      </tr>

      <tr>
        <th>
          Food, Nicotine,
          <br/>
          Alcohol, and
          <br/>
          Caffeine
        </th>
        <td>
          Before bed,
          <br/>
          avoid
          <br/>
          substances that
          <br/>
          can interfere
          <br/>
          with sleep
        </td>
        <td>
          <ul>
            <li>Avoid heavy meals close to bedtime</li>
            <li>Avoid nicotine before bedtime or when you wakeup at night</li>
            <li>
              Avoid alcohol just before bedtime. Alcohol can cause you
              <br/>
              to wake up during the night even though it might have
              <br/>
              helped you fall asleep.
            </li>
            <li>
              Stop drinking beverages with caffeine at least 4-6 hours
              <br/>
              before bedtime
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h4>
      NOTE TO RESOUND:
      <h5>
        Below are paragraphs explaining why the listed tips are helpful/important. We'd
        like to make this information available in the Learning Nook, but aren't sure of the best way to
        present it. We discussed having a small icon that people can press to find out "why" for each tip
        category -- but feel free to handle it however you feel is best.
      </h5>
    </h4>
  </div>

  <div>
    <h4>Sleep Timing:</h4>
    <p>
      The body and brain adapt to a regular sleep schedule. People who work swing shift or
      who travel a lot change their sleep and wake times often. This disrupts the biological clock. When your
      biological clock is disrupted your body tells you it's time to move around when you want to sleep. And
      when you want to be awake your body tells you it's time to sleep. Setting these sleep and wake times
      and sticking to them regardless of what is going on in your life will help you to sleep better.
    </p>
  </div>

  <div>
    <h4>Sleep Behavior:</h4>
    <p>
      You can teach your body to associate your bed with sleep. If you eat, watch TV, and play
      video games while in bed you start to associate the bed with these wakeful activities. Then you tend to
      stay awake when you are in bed. If you associate your bed with sleep, then getting into bed will tell your
      body and mind that it is time to sleep. Then you are more likely to sleep when you are in bed.
    </p>
  </div>

  <div>
    <h4>Sleep Environment:</h4>
    <ul>
      <li>
        Temperature. Body temperature fluctuates during the night. Keeping the room cool can help
        keep you from overheating.
      </li>
      <li>
        Light. Light naturally tells the brain it is time to wake up. In our modern world, many things
        produce artificial light that can disturb sleep. TV, iPads, phones and electric lights are all culprits
        in keeping us awake. Limiting these light sources or wearing an eye mask to block the light can
        improve your sleep.
      </li>
      <li>
        Sound. Constant low level background sound can keep other sounds from waking you up. Sound
        can also be used in specific ways to manage reactions to tinnitus.
      </li>
    </ul>
  </div>

  <div>
    <h4>Relaxing before bedtime:</h4>
    <p>
      Often we have a lot of things to take care of before we go to bed. Sometimes
      there is work, laundry or chores to do before morning. This can be very stimulating and cause our minds
      suggestions invite you to do something relaxing before bed to allow the mind to calm before you settle
      in for the night
    </p>
  </div>

  <div>
    <h4>Food, Nicotine, Alcohol, and Caffeine:</h4>
    <p>
      Alcohol may seem like it will help you sleep. However, research
      has shown that alcohol before bed can make you wake up later in the night. It is much better to have
      herbal tea, warm milk, or another soothing beverage before bed. A light snack can ease nighttime
      hunger but be careful to avoid large meals. Large meals before bed can make you feel uncomfortably
      full or cause heartburn or gas. These discomforts can keep you awake. Nicotine and caffeine are
      stimulants that can also keep you awake.
    </p>
  </div>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
