nav{
  margin-top: 2%;
}

.container {
    width: 100%;
    height: 100%;
}


.container::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.summary-container {
    width: 100%;
    height: 10%;
}

.container .summary-container .title {
    /* text-align: left; */
    color: rgb(36, 50, 97);
    font-size: 1.2em;
}
.title {
  color: rgb(36, 50, 97);
  font-size: 1em;
  margin-top: 5%;
}

.container .summary-container .patientID {
    text-align: center;
    font-size: 0.7em;
    color: grey;
    /* padding-left: 20%; */
}

.container .surveyTitle{
    text-align: left;
    color: rgb(36, 50, 97);

}

.container .question {
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 5%;

}

.container .totalScore {
    text-align: right;
}

.container .questionScore {
  font-size: 0.9em;
  color: gray;
  text-align: right;
  margin-bottom: 5%;
}

.question-content {
  font-size: 0.9em;
  color: gray;
}

.answer {
  font-size: 0.9em;
  color: gray;
}
