nav{
  margin-top: 2%;
}

.container {
    width: 100%;
    height: 100%;
}


.container::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.summary-container {
    width: 100%;
    height: 10%;
}

.container .summary-container .title {
    /* text-align: left; */
    color: white/*rgb(36, 50, 97)*/;
    font-size: 1.2em;
}
.title {
  color: white /*rgb(36, 50, 97)*/;
  font-size: 1em;
  margin-top: 5%;
  text-decoration: underline;
}

.container .summary-container .patientID {
    text-align: center;
    font-size: 0.7em;
    color: white;
    /* padding-left: 20%; */
}

.container .surveyTitle{
    text-align: left;
    color: white /*rgb(36, 50, 97)*/;
}

.container .question {
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 5%;
    color: white;

}

.container .totalScore {
    text-align: right;
    color: white;
}

.container .questionScore {
  font-size: 0.9em;
  color: white;
  text-align: right;
  margin-bottom: 5%;
}

.THSscore {
  color: white;
  margin-bottom: 5%;
  font-size: 0.9em;
}


.question-content {
  font-size: 0.9em;
  color: white;
}

.answer {
  font-size: 0.9em;
  color: white;
}

.video{
    text-align: center;
    border: 5px;
    border-color: white;
}
hr {
    margin-top: 2%;
    margin-bottom: 1%;
    border: 0;
    border-top: 1px solid #eeeeee;
}
