<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
    <div class="btn btn-info btn-lg" style="float: left" id="landing">
      <a href="landing">Back</a>
    </div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h1 style="color: white;">
			<b>Guided Meditation</b>
		</h1>
	</div>
	<h2 style="color: white;">
		Guided meditation is a good way to learn to relax. You listen to a voice that will guide you through breathing and mental imagery exercises. There are six different guided meditation exercises that are available for you to use as a part of this program. Each audio recording guides you through a different way of helping the body and mind relax. You can let the recordings lead you through each exercise every time you want to use them. Or, once you are familiar with the exercises, you can practice them on your own. Use these anytime you wish to feel refreshed and relaxed. Below is a description of each guided meditation exercise available.
		<br /><br />
		<b>Mindful Breathing:</b> Allow yourself to find a quiet place in your mind by focusing on your breathing. 
		<br /><br />
		<b>Body Scan:</b> Visualize your breath moving through parts of your body while becoming aware of all sensations you feel. 
		<br /><br />
		<b>Passive Muscle Relaxation:</b> Focus on parts of your body while breathing deeply to induce relaxation.
		<br /><br />
		<b>Progressive Muscle Relaxation:</b> In this exercise, you tense each part of the body in turn and then let the tension go.  
		<br /><br />
		<b>Mountain Stream Imagery:</b> Use the power of visualization to follow a path to a cool mountain stream where you will be calm, relaxed and refreshed. 
		<br /><br />
		<b>Circling to Sleep:</b> This will guide you through a visualization exercise to help you grow tired and sleepy. Listen to this recording to help you fall asleep.
	</h2>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
