.tympanometry .head {
  margin-left: 1%;
  margin-right: 1%;
  background-color: lightgray;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  font: bold 1.4em Veranda, sans-serif;
  color: black;
}

.tympanometry .subhead {
  padding-top: 2%;
  font: bold 1em Veranda, sans-serif;
  padding-left: 5%;
  color: black;
}

.radio {
  padding-left: 10%;
  padding-bottom: 2%;
}
