/* LogoComponent's private CSS styles */
/*img.logo {
  max-width: 250px;
  padding: 15px;
  padding-top: 25px;
  padding-left: 0;
}*/

img.logo{
  position: relative;
  right: 0;
  max-width: 250px;
  padding: 15px;
  padding-top: 25px;
  padding-left: 0;
}

/*img.logo:hover
{
  opacity: 0.5;
  cursor: pointer;
  border: none;
}*/

@media all and (max-width: 280px) {
  img.logo {
      max-width: 175px;
  }
}

@media all and (max-width:700px) {
  img.logo.audio-view {
    max-width: 80%;
  }
}
