.options {
  color: white;
  font-size: 1.2em;
}

button {
  background-color: #004273;
  font-family: 'Roboto';
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1em;
}

.buttons2 {
  width: 48%;
  float: right;
}

.buttons1 {
  width: 48%;
  float: left;
}

.extra {
  text-align: center;
  color: white;
}

.questionHeader {
  color: white;
  text-align: center;
}

.inputForm, .fields {
  display: inline-block;
  width: 100%;
  color: lightcyan;
  font-size: 1em;
}

.questionFont {
  padding-left: 16%;
  padding-right: 0;
}

@media all and (max-width: 1595px) {
  .questionFont {
    padding-left: 14%;
  }
}

@media all and (max-width: 1495px) {
  .questionFont {
    padding-left: 13%;
  }
}

@media all and (max-width: 1332px) {
  .questionFont {
    padding-left: 11%;
  }
}

@media all and (max-width: 1040px) {
  .questionFont {
    padding-left: 9%;
  }
}

@media all and (max-width: 905px) {
  .questionFont {
    padding-left: 7%;
  }
}

@media all and (max-width: 820px) {
  .questionFont {
    padding-left: 6%;
  }
}

@media all and (max-width: 767px) {
  .questionFont {
    padding-left: 11%;
  }
}

@media all and (max-width: 665px) {
  .questionFont {
    padding-left: 9%;
  }
}

@media all and (max-width: 580px) {
  .questionFont {
    padding-left: 6%;
  }
}

@media all and (max-width: 532px) {
  .questionFont {
    padding-left: 0;
  }
}

@media all and (max-width: 440px) {
  .questionFont {
    padding-left: 13%;
    margin-left: 0;
  }

  .questionHeader {
      font-size: 1em;
  }

  .options, .extra {
    font-size: 1em;
  }
}

@media all and (max-height: 560px) {
  .questionHeader {
      font-size: 1em;
  }

  .options, .extra {
    font-size: 1em;
  }
}

@media all and (max-width: 360px) {
  .questionFont {
    padding-left: 3%;
  }
}

@media all and (max-width: 340px) {
  .questionFont {
      font-size: .87em;
      padding-left: 5%;
  }

  .extra {
    font-size: .87em;
  }
}

@media all and (max-width: 325px) {
  .buttons1, .buttons2 {
    font-size: .9em;
  }
}


@media all and (max-width: 290px) {
  .questionFont, .extra {
      font-size: .75em;
  }
}
