<html>
<nav class="navbar navbar-fixed-top" id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>

    <div class="aud-login" style="float: right" id="aud-login">
      <a href="audiologist">Audiologist Login</a>
    </div>
    <!--<div class="aud-login" id="aud-button" style="float: right">
          <button (click)="patientOnClick()" type="button" class="btn btn-primary btn-sm">Audiologist Log In</button>
    </div>-->
  </div>
</nav>

<div class="container">
  <div class="parent-container">
    <!--<div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4" style="text-align: left;">
          <logo logoRouteOption="1"></logo>
      </div>
    </div>-->
  </div>

<div class="child-container" (keydown)="keyDownFunction($event)">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
          <label><input id="usercode" type="text" autofocus [(ngModel)]='patientId' placeholder="Usercode" > </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
        <div *ngIf="!authenticationFlag" class="failLogIn">Check-in ID is incorrect, please try again.</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
          <button (click)= "onClick()" type="button">Log In</button>
      </div>

    </div>

  <footer class="navbar-fixed-bottom">
      <logo></logo> <!--It will sometimes overlap with the patient button-->
    </footer>
</div>

</div>

</html>
