/*styles for home content only*/
.container {
  width: 100%;
  height: 100%;
}

.parent-container {
  /* padding-top: 20%; */
  width: 100%;
  height: 25%;
}

.child-container {
  width: 100%;
  /* transform: translate(20%, 10%); */
}

#navigation{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #005690;
}

button {
  height: 60%;
  background-color: #3a9202; /*Changed the original color #004273*/
  font-family: 'Roboto';
  font-size: 2em;
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
  margin-bottom: 10%;
  padding: 4%;
}

.row{
  margin-top: 0.05%;
  margin-bottom: 5%;
}

#aud-button{
  margin-right: 2%;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  color: green;
}

img{
  height: auto;
}
logo{
  float: right;
}

@media all and (orientation:landscape) {
  button {
    height: 85%;
  }
}
@media all and (max-width:450px) {
  button {
    font-size: 0.9em;
    height: 80%;
  }
}

@media all and (orientation:landscape) and (max-width: 650px ){
  button {
    font-size: 0.95em;
  }
}

@media all and (max-height: 600px) and (max-width: 410px) {
  button {
    font-size: 0.95em;
    margin-bottom: 5%;
  }
}

@media all and (min-height: 1350px) and (min-width: 1024px) {
  button {
    font-size: 2em;
  }
}
@media all and (max-height: 400px) {
  button {
    font-size: 0.7em;
    margin-bottom: 5%;
  }
}


/*button:hover {
  background-color: #005690;
  cursor: pointer;
}*/
