<html lang='en'>

  <nav class="navbar navbar-fixed-top" id="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
        </a>
      </div>

      <div class="aud-login" style="float: right" id="aud-login">
          <a href="aud-login">Audiologist Login</a>
      </div>
      <!--<div class="aud-login" id="aud-button" style="float: right">
            <button (click)="patientOnClick()" type="button" class="btn btn-primary btn-sm">Audiologist Log In</button>
      </div>-->
    </div>
  </nav>

  <div class="container">
  <div class="parent-container">
      <div class="row">
        <!--<div class="col-lg-6 col-lg-4" style="text-align: left;">-->
            <!--<logo></logo>-->
        <div class="float-left">
          <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-home"></span> Home
          </a>
        </div>
      </div>
  </div>
    <div class="child-container">
      <div class="row">
        <img src="https://105b31079a1ba381f52e-ac2ec5114feb632a1114f20df0e72453.ssl.cf2.rackcdn.com/Content/571e3969-e8f0-4e2c-95b6-37dc0ad284e6/shutterstock_238517185.jpg">
        <br><br>
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
 
          <button (click)="patientOnClick()" type="button" class = "btn btn-success">Patient Check In</button>
        </div>
      </div>

      <div class="row">
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
           <footer class="navbar-fixed-bottom">
            <logo></logo> <!--It will sometimes overlap with the patient button.-->
          </footer>
        </div>
      </div>
    </div>
  </div>
</html>
