#navigation{
  margin-top: 1%;
}

logo{
  float: right;
}

.text-section {
	position: fixed;
	top: 80px;
	bottom: 80px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
