<nav class="navbar navbar-fixed-top" id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-home"></span> Home
			</a>
		</div>
	</div>
</nav>

<div class="text-section">
	<div>
		<h2 style="color: white">
			<b>Introduction to “Using Sound”</b>
		</h2>
	</div>
	<h2 style="color: white">
		The purpose of Using Sound is to help you feel better without changing the sound of the tinnitus itself. Below you can read about three types of sound that can be used to help with tinnitus. 
		<br /><br />
		With this app, you can make plans for using sound when your tinnitus is bothering you. After you make a plan for a specific tinnitus-problem situation, you can use the plan to help you during that situation. Some of the sounds on your plan may be played from your phone. The plan you make may also have reminders for other sounds outside of the phone that you can use.
	</h2>
	<div>
		<h2 style="color: white">
			<b>Audio Recording Describing “Using Sound”</b>
		</h2>
	</div>
	<h2 style="color: white;"> 
		Below is a link to a 76 minute audio recording. The recording explains how sound can be used to manage reactions to tinnitus. The recording also includes sound tracks that demonstrate many uses of sound for tinnitus. 
		<br /><br />
		The written sections below have the same information that is on the recording. Each section has a link to the related part of the recording. You can either listen to the entire recording or to the different parts below.
	</h2>
	<div>
		<h2 style="color: white">
			<b>Soothing Sound</b>
		</h2>
	</div>
	<h2 style="color: white;"> 
		What is Soothing Sound?
		<ul>
			<li>Any sound that has a soothing effect on you</li>
			<li>Any sound that makes you feel better as soon as you hear it</li>
			<li>Can be environmental sound, music, or speech</li>
		</ul>
		How can Soothing Sound help?
		<ul>
			<li>By giving you a sense of relief from stress and tension caused by tinnitus</li>
			(Note: Soothing Sound can give you that sense of relief without changing the sound of your tinnitus!)
		</ul>
		When can I use Soothing Sound?
		<ul>
			<li>Any time tinnitus bothers you</li>
		</ul>
	</h2>
	<div>
		<h2 style="color: white">
			<b>Interesting Sound</b>
		</h2>
	</div>
	<h2 style="color: white;">
    What is Interesting Sound?
		<ul>
			<li>Sound that keeps your attention</li>
			<li>Sound that you actively listen to</li>
			<li>Can be environmental sound, music, or speech</li>
		</ul>
    How can Interesting Sound help?
		<ul>
			<li>By helping you shift your attention away from your tinnitus</li>
		</ul>
    When can Interesting Sound help?
		<ul>
			<li>When you do not need to concentrate on something else</li>
			<li>When you want to relax or sleep</li>
		</ul>
		<br />
		Interesting Sound and Sleep
		<br />
		Interesting sound can be a powerful way to get your mind off of your tinnitus. This helps some people relax enough to get to sleep. It might not be helpful for others. Be open to using sound in surprising or unusual ways to manage your tinnitus!
	</h2>
	<div>
		<h2 style="color: white">
			<b>Background Sound</b>
		</h2>
	</div>
	<h2 style="color: white">
		What is Background Sound?
		<ul>
			<li>Any sound that is neutral (not soothing, not interesting, not annoying)</li>
			<li>Can be environmental sound, music, or speech</li>
		</ul>
		How Can Background Sound Help?
		<ul>
			<li>Our brains are “wired” to notice contrast.</li>
		</ul>
		There is a lot of contrast between tinnitus and a quiet room. Adding background sound to a quiet room reduces the contrast. The reduced contrast makes it easier to ignore tinnitus.
		<br /><br />
		How does Contrast Reduction Make it Easier to Ignore Tinnitus?
		<br />
		Imagine a lit candle in a dark room. The candle is the only light in the room. There is sharp contrast between the bright candle and the dark room. Therefore the candle naturally attracts a lot of attention. Next, imagine the same lit candle, but now with the lights on in the room. The contrast between the candle and the room has been reduced. The candle is just as bright as before, but attracts less attention because now there is other light in the room along with the candle.
		<br /><br />
		<img src="assets/images/Candle.png" alt="candle" class="center">
		<br />
		The same idea applies to tinnitus. Imagine tinnitus in a quiet room. Tinnitus in a room with no other sounds naturally attracts attention. If you add background sound, your tinnitus will be just as loud as before. However it won’t attract as much attention because of the other sound in the room along with the tinnitus. Adding background sound creates an environment where it is easier for the tinnitus to go unnoticed.
		<br /><br />
		<img src="assets/images/Room.png" alt="room" class="center">
		<br />
		Note: Sometimes Background Sound helps right away. Sometimes it takes weeks or months before you notice it is helping.
		<br /><br />
		When can I use Background Sound?
		<ul>
			<li>Any time your tinnitus bothers you</li>
		</ul>
		A constant background of sound can help you notice your tinnitus less often. Background Sound should always be set to a comfortable loudness level. The sound should become a natural part of your day.
	</h2>
</div>

<!--Moves the logo to the bottom of the screen-->
<div class="row">
	<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		<footer class="navbar-fixed-bottom">
			<logo logoRouteOption="2"></logo> <!--Makes it so logo cannot click-->
		</footer>
	</div>
</div>
